
.user__icon-wraper{
  position: relative;
}

.painel-login{
  text-align: center;
  align-items: center;
  padding-top: 3.2rem;
  margin-bottom: -3.2rem;
}

.user__bar-login{
  width: 100%;
  height: 10px;
  background-color: #3f2b61;
  position: relative;
  z-index: 1;
}



.user__icon{
  z-index: 2;;
  border-radius: 50%;
  width: 135px;
  height: 135px;
  background-size: 100% 100%;
  position: absolute;
  top: -77px;
  left: 50%;
  margin-left: calc(-135px / 2);

}
.user__input{
  display: flex;
}
.user__input{
  margin-top: 20px;
  width: 100%;
  position: relative;

}

.user__input input {
  width: 100%;
  height: 62px;
  background-color: white;
  border-radius: 3.125rem;
  padding: 0 40px 0 20px;
  border: 0;
  font-size: 1.2rem;
}

.user__input:hover{
  -webkit-box-shadow: 24px 27px 77px -8px rgba(0,0,0,1);
  -moz-box-shadow: 24px 27px 77px -8px rgba(0,0,0,1);
  box-shadow: 24px 27px 77px -8px rgba(0,0,0,1);

}
.icon-input{
  width: 43px;
  height: 43px;
  position: absolute;
  right: 8px;
  top: 10px;
  background-size: 100% 100%;
}

.icon-input-icon{
  width: 43px;
  height: 43px;
  position: absolute;
  left: 190px;
  top: 10px;
  background-size: 100% 100%;
}

input[type=submit],button, a{
  display: block;
  margin: auto;
  width: 100%;
  height: 60px;
  border-radius: 50px;
  background-image: linear-gradient(50deg, #d15049 0%, #73408f 70%, #a34fc9 100%);
  background-position: center center;
  background-size: cover;
  border: 0;
  cursor: pointer;
  font-size: 1.2rem;
  color: #fff;
  text-decoration: none solid rgb(255, 255, 255);
  text-align: center;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}

.inputLog, .inputDep{
  border-left: 20px solid gray;
}
.input:focus{
  outline: 0;
  border: 0;
}

.inputs{
  display: flex;
}

.inputs button {
  border-radius: 50px;
}

.input[type=submit]:hover{
  display: block;
  margin: auto;
  width: 100%;
  height: 60px;
  border-radius: 50px;
  background-image: linear-gradient( #d15049 0%, #73408f 70%, #a34fc9 100%);
  background-position: center center;
  background-size: cover;
  border: 0;
  cursor: pointer;
  font-size: 1.2rem;
  color: #fff;
  text-decoration: none solid rgb(255, 255, 255);
  text-align: center;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}

.login__container{
  margin-top: 5rem;
  max-width: 530px;
  padding: 30px 20px;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  }


  section.login__container form{
    margin: 5.625rem 0;
    }

    section.login__container form > h3 {
    text-align: center;
    color: #FFF;
    font-size: 23px;
    margin: 1.4rem 0;
    }
