*{
  color: white;
}

body{
  background-image: linear-gradient(to right ,rgba(0, 0, 0, 0.26) , rgba(0, 0, 0, 0.479)), url("/assets/04.jpg");
  height: 100vh;
  width: 100vw;
  z-index: 98;
  
}

.logo{
  position: relative;
  top: -2rem;
  left: 1.2rem;
  margin-left: 10rem;
  margin-bottom: 1rem;
  width: 130px;
  height: 90px;
  opacity: 1;
  z-index: 1;
  
}

div{
    position: relative;
    top: 11rem;
    display: block;
    margin: auto;
    width: 30rem;
    height: 50vh;
    border-right: 1px solid gray;
    z-index: 98;
    background-color: rgba(238, 236, 236, 0.438);
    border-radius: 1rem;
}

form{
  padding-top: 6rem;
  padding-bottom: 10rem;
  color: white;
}

.mat-label{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 5.6rem;
  border-radius: 1rem;
  padding-bottom:  0;
  color: white;
  max-width: 20rem;
}


button{
  position: relative;
  left: 20rem;
  background-color: transparent;
  opacity: 1;
  padding: .5rem;
  border-radius: 1rem;
  color: white;
}

input{
  color: white;
}
