<body >
    <div>
        <form #formDirective="ngForm"   >
            
            <img class="logo" src="assets/logo.png" alt="Logo da Belacci" >
            <mat-form-field class="mat-label" color="warn" style="border-color: black;">
                <mat-label >Login</mat-label>
                <input matInput type="text" name="login" [(ngModel)]="login"  style="color: black;">
            </mat-form-field>

            <mat-form-field class="mat-label" color="warn">
                <mat-label >Senha</mat-label>
                <input matInput type="password" name="password" [(ngModel)]="senha" style="color: black;" >
            </mat-form-field>
        
            <button (click)="logar()">Fazer Login</button>
        </form>
    </div>
</body>     