
/* Estilos para mudar a cor do mat-spinner */
.mat-spinner-color {
  color: red; /* Altere para a cor desejada */
}

body{
  height: 100vh;
  width: 100vw;
  z-index: 98;
  background-image: linear-gradient(to right ,rgba(0, 0, 0, 0.555) , rgba(0, 0, 0, 0.705)), url("/assets/06.jpg");
  background-position: center center;
}

.container{
  margin-left: -0.8rem;
}
.logo{
  display: block;
  margin: 0  auto;
  margin-bottom: 5rem;
  width: 130px;
  height: 80px;

}



form{
  display: block;
  padding-top: 20rem;
  color: white;
  height: 100vh;
  width: 35vw;
    height: 100vh;
    background-color: #ffffff73;
    box-shadow: -14px 15px 41px 2px rgba(0,0,0,0.45);
    -webkit-box-shadow: -14px 15px 41px 2px rgba(0,0,0,0.45);
    -moz-box-shadow: -14px 15px 41px 2px rgba(0,0,0,0.45);
    border-right: 2px solid white;
}

.mat-label{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
  color: white;
  width: 24rem;

}


button{
  position: relative;
  left: 20rem;
  background-color: transparent;
  opacity: 1;
  padding: .5rem;
  border-radius: 1rem;
  border: 1px solid black;
  color: black;
}

