<body >
    <div>
        <form #formDirective="ngForm"   >
            
            <img class="logo" src="assets/logo.png" alt="">
            <mat-form-field class="mat-label" color="accent" style="border-color: white;">
                <mat-label >Login</mat-label>
                <input matInput type="text" name="login"  style="color: white;">
            </mat-form-field>

            <mat-form-field class="mat-label" color="accent">
                <mat-label>Senha</mat-label>
                <input matInput type="password" name="password" style="color: white;" >
            </mat-form-field>
        
            <button >Fazer login</button>
        </form>
    </div>
</body>     