<section class="login__container">
  <div class="user__icon-wraper">
      <div class="user__bar-login"></div>
      <div class="user__icon"style="background-image: url(/assets/icon-1.png);"></div>
      <h3 class="painel-login">Painel Login</h3>
  </div>

  <form [formGroup]="form" (ngSubmit)="logar(user)">

      <div class="form-group, user__input">
          <input type="text"  placeholder="Login" name="login" class="form-control" formControlName="login" requiredminLenght="5"/>
          <div class="icon-input" style="background-image: url(/assets/icon-1.png);"></div>
      </div>
      <div class="form-group, user__input">
          <input type="password" placeholder="Senha" name="senha" class="form-control" formControlName="senha" requiredminLenght="12" />
          <div class="icon-input" style="background-image: url(/assets/lock-1.png);"></div>
      </div> <!-- Input -->
      <br>
      <br>
      <div class="inputs">
          <input class="btn btn-success" type="submit"  name="acao" value="Logar!" >
          <button [routerLink]="['/signup']" type="button"  name="acao" class="btn btn-success">Registrar</button>
      </div>

      <p *ngIf='mensagem != "" ' class="alert alert-primary mt-2"> {{ mensagem }}</p>

  </form>
</section>
