*{
    overflow: hidden;
}

.container__bg{
    background-image: linear-gradient(to right ,rgba(0, 0, 0, 0.555) , rgba(0, 0, 0, 0.705)), url("/assets/04.jpg");
    height: 100vh;
    width: 100vw;
    z-index: 98;
}

.container-s {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10rem auto;
    background-color: rgba(255, 255, 255, 0.719);
    padding-top: 4rem;
    padding-bottom: 2rem;
    border-radius: 0.8rem;
    box-shadow: -14px 15px 41px 2px rgba(0,0,0,0.45);
    -webkit-box-shadow: -14px 15px 41px 2px rgba(0,0,0,0.45);
    -moz-box-shadow: -14px 15px 41px 2px rgba(0,0,0,0.45);
    height: 40rem;
    max-width: 500px;
}


mat-form-field{
    max-width: 250px;

}

mat-label{
    font-size: 1rem;
}

  
.custom-snackbar {
    background-color: black; /* Define a cor de fundo */
    color: white; /* Define a cor do texto */
}