
<form #formDirective="ngForm" class="container-s">
    
        <mat-form-field class="mat-label" >
            <mat-label>Nome</mat-label>
            <input matInput [(ngModel)]="ticket.name" name="nome" >
        </mat-form-field>
    
        <mat-form-field class="mat-label">
            <mat-label>Departamento</mat-label>
            <input matInput [(ngModel)]="ticket.departamento" name="departamento">
        </mat-form-field>
        <mat-form-field class="mat-label">
            <mat-label>Contato</mat-label>
            <input matInput [(ngModel)]="ticket.contato" name="contato">
        </mat-form-field>
        <mat-form-field class="mat-label">
            <mat-label>Detalhes do chamado</mat-label>
            <textarea matInput [(ngModel)]="ticket.detalhes" name="detalhes"></textarea>
        </mat-form-field>
        
        <button class="btn btn-success" (click)="createTicket()">Abrir Chamado</button>
</form>


    
