<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Gerenciamento de Usuários</li>
  </ol>
</nav>

<div class="container" >
  <div class="card list-user">
    <h5 class="card-header pb-3 mt-2 text-center">Lista de Usuários</h5>
  </div>
  <div class="card-body">
    <table class="table text-center">
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Login</th>
          <th scope="col">Departamento</th>
          <th scope="col"></th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user['name'] }}</td>
          <td>{{ user.username }}</td>
          <td *ngIf="user && user.departamento">{{ user.departamento['name'] }}</td>

          <td>
            <button type="button" class="buttonEdit btn btn-warning btn-sm" (click)="editUser(user)">Editar Usuário</button>
            <button type="button" class="buttonDelete btn btn-danger btn-sm ml-5" (click)="deleteUser(user)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="card add-user">
    <h5 class="card-header">Adicionar/Atualizar usuários</h5>
    <div class="card-body">
      <form id="add-form" (ngSubmit)="saveUser(f)" #f="ngForm" novalidate>
      
        <div class="form-group">
          <label for="name">Nome</label>
          <input type="text" [(ngModel)]="user.name" id="name" name="name" #name="ngModel" required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && name.invalid}" placeholder="Digite o Nome">
        </div>

        <div class="form-group">
          <label for="login">Login</label>
          <input type="text" [(ngModel)]="user.username" id="login" name="login" #login="ngModel" required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && login.invalid}" placeholder="Digite o Login">
        </div>

        <input class="btn btn-primary mt-4" type="submit" value="Salvar">
      </form>
    </div>
  </div>
</div>
