<body>
  <div class="header">
      <div class="logo">
        <img class="logo" src="assets/logo-menor.png" alt="">

      </div>
      <div class="title">HelpDesk</div>
      <div class="user-icon">
        <mat-icon>account_circle</mat-icon>
      </div>
  </div>
  <div class="container">
      <aside class="sidebar">
        <ul class="nav-bar">
          <li><mat-icon class="li">home</mat-icon>Iniciar</li>
          <li><mat-icon class="li" >assignment</mat-icon>Tickets</li>
          <li><mat-icon class="li"> chat</mat-icon>Meus Tickets</li>
          <li><mat-icon class="li">dashboard</mat-icon>Dashboard</li>
          <li><mat-icon class="li">account_circle</mat-icon>Minha Conta</li>
        </ul>
      </aside>
      <main class="content">
        <app-card></app-card>
        <app-card></app-card>



      </main>
  </div>
</body>

