
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}


body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.title{
  margin-left: -100rem;
  margin-top: -8px;

}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 10px 20px;

  -webkit-box-shadow: 100px 1px 4px 3px rgba(0, 0, 0, 0.178);
}

.logo img {
  height: 40px;
}

.title {
  font-size: 24px;
  color: black;
  font-family: 'Myriad Pro Bold';

}

.user-icon img {
  height: 30px;
  border-radius: 50%;
  background-color: #333;
}

.container {
  display: flex;
  height: calc(100vh - 60px); /* 60px é a altura do header */
}

.sidebar {
  width: 300px;
  background-color: #7D7777;

}

.nav-bar {
  margin: auto;
  list-style-type: none;
  margin-top: 18rem;
}

.nav-bar  li {
  display: flex;
  flex-direction: row;
  padding: 15px 20px; /* Adiciona espaçamento interno */
  color: #fff; /* Cor do texto */
  cursor: pointer; /* Muda o cursor para indicar que é clicável */
  width: 100%;
  padding-left: 3rem;

}

li > .li{
  display: block;
  padding-right: 3rem;
}
.nav-bar li:hover {
  background-color: #6e6e6e; /* Cor de fundo ao passar o mouse */
}

.content {
  flex-grow: 1;
  background-color: #f0f0f0;
  border-radius: 20px;
  margin: 2rem -34rem 2rem 2rem;
}

app-card
{
  display: flex;
}
